body {
    font-family: 'Tektur', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #FF66B2, #FF3399);
    color: white;
    overflow-x: hidden;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #5844E5; /* Dark blueish navbar background */
}

header .logo-container {
    width: 100px; /* Adjust this for your logo size */
}

header .logo {
    width: 100%;
    height: auto;
}

header h1 {
    font-size: 30px;
    margin: 0;
}

nav {
    flex-grow: 1;
    text-align: right;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-bottom: 5px;
    transition: all 0.3s ease;
}

nav ul li a:hover,
nav ul li a.active {
    border-bottom: 2px solid white;
}

section {
    padding: 50px;
    text-align: center;
    margin: 20px 0;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.cta-button {
    background-color: white;
    color: #FF3399;
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.cta-button:hover {
    background-color: #FF66B2;
    color: white;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #5844E5; /* Dark blueish footer background */
}

footer p {
    color: white;
    margin: 0;
}
